* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

html,body {
    height: 100%;
    color: #595757;
}




h1{
	font-size: 2.25rem;
}
h2{
	font-size: 1.75rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.25rem;
}
h5{
	font-size: 1rem;
}
h6{
	font-size: 1.825rem;
}
p{
	font-size: 1rem;
}
.font-xl{
	font-size: 3rem;
}
.font-lg{
	font-size: 2.25rem;
}
.font-md{
	font-size: 1.5rem;
}
.font-sm{
	font-size: 1.25rem;
}
.font-xs{
	font-size: 0.8125rem;
}
.font-xxs{
	font-size: 13px;
}
a:hover{
	color: var(--font-color);
}

.br-sp {
    display: none;
}


.header_wrapper {
    width: 100%;
    height: 15vh;
    display: table;
}

.header_content {
    display: table-cell;
    vertical-align: middle;
}

.header_title p {
    color: #595757;
    font-size: 0.8vw;
    margin: 0 0 5px 1vw;
    line-height: 0.8rem;
    font-weight: 400;
}

.header_description {
    width: 12.5vw;
    display: block;
    margin: 0 -1vw 0 1vw;
}

.navbar_wrapper {
    display: table-cell;
    height: 15vh;
}

.navbar_wrapper ul {
    height: 15vh;
    line-height: 15vh;
    font-size: 0;
    text-align: right;
}

.navbar_wrapper ul li {
    height: 15vh;
    display: inline-block;
    vertical-align: middle;
    color: #595757;
}

.navbar_wrapper ul li:last-child {
    background: linear-gradient(45deg, #AA8E48, #EAC342);
    margin-left: 1vw;
}

.navbar_wrapper ul li a {
    margin: 0 1vw;
    font-size: 0.89rem;
    background: none;
    text-decoration: none;
    color: #595757;
}

.navbar_wrapper ul li:last-child a {
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 0 1vw;
}

.navbar_toggler, .navbar_wrapper_sp  {
    display: none;
}

.header_bgr {
    position: relative;
    width: 100%;
    height: 85vh;
}

.header_img {
    position: absolute;
    display: block;
    height: 85vh;
    bottom: 0;
    right: 0;
    z-index: -1;
    user-select: none;
}

.header_bgr_background {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, #AA8E48, #EAC342);
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.header_bgr_copy-01 {
    position: absolute;
    width: 95%;
    display: block;
    margin: auto 0 auto 5%;
    top: 31vh;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
}

.header_bgr_copy-01 p {
    margin: auto 0;
    font-size: 2.75rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    font-weight: 500;
    font-feature-settings: "palt";
}

.header_bgr_copy-01 p br {
    display: block;
}

.header_img_2 {
    position: absolute;
    bottom: 25px;
    right: 80px;
    width: 250px;
}

.header_img_2 img {
    width: 80%;
    display: block;
    margin: 0 auto -30px auto;
}

.header_img_2 p {
    padding: 0 0 0 0;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5rem;
    font-feature-settings: "palt";
}

main {
    font-size: 0;
}

.block_wrapper {
    width: 100%;
    padding: 60px 0;
    position: relative;
}

.block_subtitle {
    position: absolute;
    top: 0;
    line-height: 8vw;
    font-size: 8vw;
    opacity: 0.15;
    user-select: none;
    color: #AA8E48;
}

.block_title {
    position: relative;
    text-align: center;
    margin: 0 0 30px 0;
    line-height: 2rem;
}

.block_frame img {
    width: 200px;
    display: block;
    margin: 0 auto 30px auto;
    user-select: none;
}

.block_element {
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
}

.block_content {
    width: 80%;
    display: block;
    margin: auto;
}

.main_btn {
    text-align: center;
    font-size: 0;
}

.main_btn a {
    width: 275px;
    margin: 30px auto 0 auto;
    display: inline-block;
    padding: 15px 0;
    display: inline-block;
    border: solid 1px #E6E6E6;
    text-decoration: none;
    color: #595757;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
}

.main_btn a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #333333;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}

.detail_btn {
    margin: 15px 0 0 0;
}

.detail_btn a {
    margin: 0 0 0 5%;
    text-decoration: none;
    color: #EAC342;
    font-size: 0.85rem;
}

#campaignIndex {
    background: url(../image/salon-1826.jpg);
    background-size: cover;
    color: #ffffff;
}

#reasonIndex .block_element {
    font-size: 1.25rem;
    font-weight: 600;
}

#reasonIndex .block_list {
    width: 100%;
    display: block;
    margin: 30px auto 30px auto;
    text-align: center;
}

.block_list li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 25px;
    vertical-align: middle;
    border-radius: 50%;
    background: linear-gradient(0deg, #AA8E48, #EAC342);
    position: relative;
}

.block_list li::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -35px;
    width: 20px;
    height: 2px;
    margin-top: -2px;
    background: #AA8E48;
    transform: rotate(45deg);
}

.block_list li::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -35px;
    width: 20px;
    height: 2px;
    margin-top: -2px;
    background: #AA8E48;
    transform: rotate(-45deg);
}

.block_list li:nth-child(1)::after {
    display: none;
}

.block_list li:nth-child(1)::before {
    display: none;
}

.block_list li p {
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #ffffff;
    font-weight: 800;
    font-size: 1.25rem;
}

#menuIndex {
    background: url(../image/section_bg.jpg);
    background-size: cover;
    color: #ffffff;
}

#voiceIndex {
    background: url(../image/section_bg_3.jpg);
    background-size: cover;
    color: #ffffff;
}

#voiceIndex .main_btn a,
#menuIndex .main_btn a {
    color: #ffffff;
    border: solid 1px #f9f9f9;
}

#voiceIndex .main_btn a::before,
#menuIndex .main_btn a::before {
    border-color: transparent transparent transparent #ffffff;
}

#campaignIndex .main_btn a {
    margin: 0;
    padding: 22.5px 0;
    color: #ffffff;
    background: linear-gradient(0deg, #AA8E48, #EAC342);
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.15rem;
    line-height: 1.15rem;
    width: 275px;
    position: relative;
}

#campaignIndex .main_btn a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #ffffff;
    right: 20px;

}

#contactIndex .main_btn a, 
#reserveIndex .main_btn a {
    color: #ffffff;
    background: #AA8E48;
    border: none;
}

#contactIndex .main_btn a::before, 
#reserveIndex .main_btn a::before {
    border-color: transparent transparent transparent #aa8e48;
}

#campaignIndex .block_subtitle {
    right: 0;
    color: #ffdd4d;
    opacity: 0.5;
}

#voiceIndex .block_subtitle,
#menuIndex .block_subtitle {
    right: 0;
    color: #ffffff;
}

#contactIndex .block_subtitle,
#reserveIndex .block_subtitle {
    color: #ffffff;
}

#newsIndex .grid {
    --cols-lg: 3;
}

#menuIndex .grid,
#flowIndex .grid {
    --cols-lg: 4;
    grid-gap: 0;
}

#menuIndex .block_content,
#flowIndex .block_content {
    width: 100%;
}

.card_media {
    width: 100%;
}

.card_media img {
    width: 100%;
    display: block;
}

.block_card {
    padding: 0 0 15px 0;
}

#flowIndex .block_content .block_card {
    border-bottom: solid 0.5px #F8F8F8;
}

#flowIndex .block_content .block_card:nth-child(2) {
    background: #F8F8F8;
}

#flowIndex .block_content .block_card:nth-child(4) {
    background: #F8F8F8;
}

#menuIndex .block_content .block_card {
    border-bottom: solid 0.5px #707070;
}

#menuIndex .block_content .block_card:nth-child(1) {
    background-color: rgba(89,87,87,0.5);
}

#menuIndex .block_content .block_card:nth-child(3) {
    background-color: rgba(89,87,87,0.5);
}

#menuIndex .block_content .block_card:nth-child(2) {
    background-color: rgba(89,87,87,0.8);
}

#menuIndex .block_content .block_card:nth-child(4) {
    background-color: rgba(89,87,87,0.8);
}

#voiceIndex .block_content .card_date {
    color: #EAC342;
    padding: 15px 0 0 0;
}

.card_text {
    width: 90%;
    margin: auto;
    display: block;
}

.card_date {
    color: #AA8E48;
}

.card_title {
    font-size: 1.125rem;
    font-weight: 400;
}

#menuIndex .card_title,
#flowIndex .card_title {
    width: 90%;
    display: block;
    margin: 20px auto 10px auto;
    font-size: 1.125rem;
    font-weight: 600;
}

#voiceIndex .block_content .block_card {
    border: solid 1px #EAC342;
}

.card_bg {
    position: relative;
    width: 100%;
}

.card_bg_1 {
    position: absolute;
    width: 25px;
    display: block;
    top: 0;
    left: 0;
    user-select: none;
}

.card_bg_2 {
    position: absolute;
    width: 25px;
    display: block;
    top: 0;
    right: 0;
    user-select: none;
}

.card_bg_3 {
    position: absolute;
    width: 25px;
    display: block;
    bottom: 0;
    right: 0;
    user-select: none;
}

.card_bg_4 {
    position: absolute;
    width: 25px;
    display: block;
    bottom: 0;
    left: 0;
    user-select: none;
}

#voiceIndex .block_content {
    width: 80%;
}

#voiceIndex .block_content .block_card {
    padding: 0 0 0 0;
    text-align: center;
}

#voiceIndex .block_content .block_card .card_media {
    width: 40%;
    display: inline-block;
    margin: 15px auto 15px auto;
    vertical-align: middle;
}

#voiceIndex .block_content .block_card .card_media img {
    border-radius: 50%;
    vertical-align: middle;
}

#voiceIndex .block_content .block_card .card_title {
    width: 47.5%;
    display: inline-block;
    margin: auto;
    padding: 0 2.5% 0 0;
    vertical-align: middle;
    text-align: left;
    font-size: 1.25rem;
}

#voiceIndex .grid {
    --cols-lg: 2;
}


#bannerIndex {
    width: 100%;
    padding: 0 0 60px 0;
}

#bannerIndex .grid {
    width: 100%;
    --cols-lg: 4;
    grid-gap: 0;
}

#bannerIndex .block_content .block_card img {
    width: 100%;
    display: block;
}





#contactIndex {
    font-size: 0;
    width: 50%;
    display: inline-block;
    color: #ffffff;
    background-image: url(../image/contact_bg.png);
    background-size: cover;
    background-position: right top;
    padding: 40px 0;
}

#contactIndex .block_element,
#reserveIndex .block_element {
    text-align: left;
    margin: 0 0 0 5%;
}

#contactIndex .main_btn, 
#reserveIndex .main_btn {
    text-align: left;
    margin: 0 0 0 5%;
}

#reserveIndex .block_title, 
#contactIndex .block_title {
    text-align: left;
    margin: 0 0 15px 5%;
}

#reserveIndex .main_btn a, 
#contactIndex .main_btn a {
    background: #fff;
    border-radius: 5px;
    color: #aa8e48;
    width: 200px;
    padding: 10px 0;
    margin: 15px 0 0 0;
}

#contactIndex .block_frame img, 
#reserveIndex .block_frame img {
    margin: 0 auto 30px 5%;
}

#reserveIndex {
    font-size: 0;
    width: 50%;
    display: inline-block;
    color: #ffffff;
    background-image: url(../image/reserve_bg.png);
    background-size: cover;
    background-position: right top;
    padding: 40px 0;
    border-bottom: solid 0.5px #ffffff;
}

#accessIndex {
    display: flex;
    padding: 0 0 0 0;
}

#accessIndex .block_card {
    width: 50%;
    font-size: 0;
    padding: 0 0 0 0;
}

#accessIndex .block_card .card_title {
    width: 90%;
    display: block;
    margin: 30px auto;
}

#accessIndex .block_card .card_text {
    width: 90%;
    display: block;
    margin: auto;
}

#accessIndex .block_card .card_title {
}

#accessIndex .block_card .card_title img {
    width: 150px;
    display: block;
}

.footer_navbar {
    width: 90%;
    padding: 15px 5%;
    display: flex;
    background: #e9e9e9;
}

.footer_navbar ul {
    text-align: left;
}

.footer_navbar ul li {
    list-style-type: none;
    display: inline;
}

.footer_navbar ul li a {
    margin: 0 15px 0 0;
    text-decoration: none;
    color: #595757;
    font-size: 0.8rem;
}

.footer_copyright {
    margin: auto 0 auto auto;
    font-size: 0.8rem;
}

#footerScroller {
    width: 100%;
    padding: 30px 0 15px 0;
    background: #e9e9e9;
    text-align: center;
    border-bottom: solid 1px #E1E1E1;
}

#footerScroller span a {
    text-decoration: none;
    color: #333333;
    padding: 10px 0 0 0;
    position: relative;
}

#footerScroller span a::before {
    content: '';
        width: 12px;
        height: 12px;
        border: 0px;
        border-top: solid 1px #333333;
        border-right: solid 1px #333333;
        bottom: 0;
        display: block;
        left: 0;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        right: 0;
        top: 0;
        margin: 0 auto 0 auto;
}

#footerScroller span a:hover {
    opacity: 0.5;
}


.cta_content {
    display: none;
}

.cta_content_pc {
    position: fixed;
    right: 0;
    bottom: 50px;
    width: 50px;
    display: block;
    box-shadow: 0 0 20px -5px;
    background: #000;
}

.cta_content_pc .cta_card {
    width: 50px;
    display: block;
    text-decoration: none;
    position: relative;
}

.cta_content_pc .cta_card:nth-child(1) {
    height: 130px;
    background: #AA8E48;
}

.cta_content_pc .cta_card:nth-child(2) {
    height: 110px;
    background: #0bb203;
}

.cta_content_pc .cta_card .cta_card_media img {
    width: 50%;
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.cta_content_pc .cta_card .cta_card_title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 35px;
    margin: auto;
    font-size: 0.8rem;
    color: #ffffff;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

@media screen and (max-width: 1024px) {
    
    .br-sp {
    display: block;
}
    
    .header_description {
        width: 100px;
    }
    
    .header_title p {
        font-size: 9px;
    }
    
    .navbar_wrapper {
        display: none;
    }
    
    
    /* ハンバーガーメニュー */
    
    .navbar_wrapper_sp {
        display: block;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        background: none;
        color: #ffffff;
        text-align: center;
        transform: translateY(-100%);
        transition: all 0.5s;
        width: 100%;
    }
 
    .navbar_wrapper_sp ul {
        background: #595757;
        margin: 0 auto;
        padding: 30px 0 30px 0;
        width: 100%;
    }
 
    .navbar_wrapper_sp ul li {
        font-size: 1.1em;
        list-style-type: none;
        padding: 0;
        width: 100%;
        
    }
    
    /* 最後はラインを描かない */

    .navbar_wrapper_sp ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
 
    .navbar_wrapper_sp ul li a {
        display: block;
        color: #ffffff;
        padding: 1.2em 0;
        font-size: 0.8rem;
        text-decoration: none;
    }
 
    /* このクラスを、jQueryで付与・削除する */
    
    .navbar_wrapper_sp.active {
        transform: translateY(0%);
    }
    
    .navbar_toggler {
        display: block;
        position: fixed; /* bodyに対しての絶対位置指定 */
        top: 25px;
        right: 10px;
        bottom: 0;
        left: auto;
        width: 34px;
        height: 48px;
        cursor: pointer;
        z-index: 10001;
        text-align: center;
        background: none;
        border: none;
    }
 
    .navbar_toggler span {
        display: block;
        position: absolute;    /* .navbar_togglerに対して */
        width: 34px;
        border-bottom: solid 2px #AA8E48;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        left: 0px;
    }
 
    .navbar_toggler span:nth-child(1) {
        top: 0px;
    }
 
    .navbar_toggler span:nth-child(2) {
        top: 9px;
    }
 
    .navbar_toggler span:nth-child(3) {
        top: 18px;
    }
    
    /* 最初のspanをマイナス45度に */
    
    .navbar_toggler.active span:nth-child(1) {
        top: 9px;
        left: 0px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-color: #ffffff;
    }
 
    /* 2番目と3番目のspanを45度に */
    
    .navbar_toggler.active span:nth-child(2),
    .navbar_toggler.active span:nth-child(3) {
        top: 9px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        border-color: #ffffff;
    }
    
    .navbar_toggler p {
        transition: all .35s;
    }
    
    .navbar_toggler.active p {
        color: #595757;
    }
    
    .toggler_name {
        font-size: 12px;
        margin: 5px 0 0 0;
        text-align: center;
        color: #AA8E48;
    }
    
    /* ハンバーガーメニューここまで */
    
    .header_wrapper {
        height: 75px;
    }
    
    .header_bgr_background {
        width: 95%;
        height: 90px;
        margin: auto auto 0 auto;
        z-index: 99;
        background: none;
    }
    
    
.header_img_2 {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: auto;
    z-index: 101;
}

.header_img_2 img {
    width: 125px;
    height: auto;
    display: block;
    margin: 0 auto -30px auto;
}

.header_img_2 p {
    padding: 10px 0 10px 0;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.25rem;
    display: block;
    font-feature-settings: "palt";
    text-align: center;
}
    
    
    .header_bgr_copy-01 {
        top: auto;
        width: 95%;
        height: 240px;
        margin: 0 auto;
        bottom: 0px;
        box-sizing: border-box;
        font-weight: 800;
        text-align: center;
        z-index: 100;
        background: linear-gradient(45deg, #AA8E48, #EAC342);
        opacity: 0.9;
        padding: 10px 0;
    }
    
    .header_bgr_copy-01 p {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0;
        box-sizing: border-box;
        font-weight: 800;
    }
    
    .header_bgr_copy-01 p br {
        
    }
    
    .header_bgr {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .header_img {
        padding: 0 0 225px 0;
        top: 0;
        width: 100%;
        height: auto;
        position: static;
    }
    
    #accessIndex {
        display: block;
        padding: 0 0 0 0;
    }
    
    #accessIndex .block_card {
        width: 100%;
    }
    
    #accessIndex .block_card iframe {
        margin: 30px 0 0 0;
    }
    
    .footer_navbar {
        display: block;
    }
    
    .footer_navbar ul {
        text-align: center;
    }
    
    .footer_navbar ul li a {
        margin: 0 0 0 0;
    }
    
    .footer_navbar ul li:first-child {
        margin-right: 15px;
    }
    
    .footer_copyright {
        text-align: center;
    }
    
    #conceptIndex .block_title {
        width: 90%;
        display: block;
        margin: 0 auto 30px auto;
    }
    
    #conceptIndex .block_element {
        text-align: left;
    }
    
    #conceptIndex .block_element br {
        display: none;
    }
    
    .footer_wrapper {
        padding: 0 0 55px 0;
    }
    
    .cta_content_pc {
        display: none;
    }
    
    .cta_content {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        display: table;
        box-shadow: 0 0 20px -5px;
        z-index: 9999;
    }
    
    .cta_card {
        width: 25%;
        display: table-cell;
        padding: 10px 0;
        background: #AA8E48;
        border-right: solid 0.2px #9B7C2F;
        border-left: solid 0.2px #9B7C2F;
        text-decoration: none;
        vertical-align: middle;
    }
    
    .cta_card_media img {
        height: 20px;
        display: block;
        margin: auto;
    }
    
    .cta_card_title {
        padding: 7.5px 0 0 0;
        color: #ffffff;
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 0.7rem;
        text-align: center;
    }
    
    #contactIndex, #reserveIndex {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    
    .block_list li {
        display: block;
        margin: 0 auto 25px auto;
    }
    
    .block_list li::after {
        display: block;
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        width: 20px;
        height: 2px;
        margin: -32.5px auto 0 auto;
        background: #AA8E48;
        transform: rotate(45deg);
    }

    .block_list li::before {
        display: block;
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        width: 20px;
        height: 2px;
        margin: -32.5px auto 0 auto;
        background: #AA8E48;
        transform: rotate(-45deg);
    }

.block_list li:nth-child(1)::after {
    display: none;
}

.block_list li:nth-child(1)::before {
    display: none;
}
 
    
}